.title{
    padding-top:3%;
    text-align: center;
  }
  .content {
    position: relative;
    left: 25%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }
  .card{
      margin-bottom: 10px;
  }